@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-slate-900 antialiased selection:bg-accent selection:text-white font-sans;
  }
}

/* Custom scrollbar */
.spreadsheet-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.spreadsheet-scroll::-webkit-scrollbar-track {
  background: #f1f5f9;
}
.spreadsheet-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}