@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-slate-100 antialiased selection:bg-accent selection:text-white font-sans;
  }
}

/* Custom scrollbar for the "spreadsheet" feel */
.spreadsheet-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.spreadsheet-scroll::-webkit-scrollbar-track {
  background: #1e293b;
}
.spreadsheet-scroll::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}